@font-face {
    font-family: 'Avallon';
    src: url('https://cdn.jsdelivr.net/gh/mohamed-untap/Avallon-Font@main/Avallon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
